<!DOCTYPE html>
<html ng-app="">
<head>
	<title>Codedamn | Angular Js Hands On</title>
	<script type="text/javascript" src="js/angular/angular.min.js"></script>
</head>
<body>
	<textarea ng-model="name"></textarea> 
	<div>Hello {{name}}</div>

	<div><br><b>Expressions</b></div>
	<div>10 + 10 = {{10+10}}</div>
	<div>10 x 10 = {{10*10}}</div>

	<div><br><b>ng-init</b></div><br>
	<div ng-init="language='Angular-js'">
	
	Your preferred language is: <input type="text" ng-model="language">{{language}}
	</div>
</body>
</html>